<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          A Hands-on Data/ML & Distributed Systems Tech Lead and Architect, with extensive experience designing and building high-performance, reliable, cost-effective, and geo-distributed services, powering AI/ML platforms, Data/ML Ops, event-driven, streaming data systems, ad servers, and microservices all deployed on AWS, GCP, Azure as well as on-prem</p>
        <p>
          I have over 18 years of industry experience as a software engineer, architect including 10 years of technical and engineering leadership with scope spanning multiple teams and groups.
          Additionally, I have a proven track record of driving change and tech strategy at Series C/D Startups to Fortune 500 companies while collaborating with folks from engineering to product, marketing, support, and C/Executive folks.
        </p>
        <p>
          I have built software products from the ground up taking them from 0->1, like I have done at Dataminr, Axon and R/GA as well as taken existing product and platforms from 1->n at both ADP, Tremor Video as well as MLB.
          More recently, as Technical Lead for Dataminr’s AI Platforms and Data Infrastructure domain I drove the architecture of our real-time enrichment and AI/ML pipelines processing over a million TPS, to be more efficient, and automated and save over 5 million USD in annual infra costs working cross-functionally across AI Platform Engineering teams
        </p>
        <p>
          I love building things. While hard engineering problems are often intrinsically fun to tackle,
          I'm most attracted to solving real problems with a strong business impact.
        </p>
        <p>
          See <a href=https://www.linkedin.com/in/diptamay>my LinkedIn profile</a> for more career details.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Rearchitected and built Dataminr’s Core AI Platforms and Data Infrastructure across AWS and GCP, implementing blue-green and shadow deployments, traffic shaping, throttling, and optimizing real-time data pipelines, K-V stores, feature stores, inference, microservices to process over a million TPS. Ensured this resulted in significant annual cost savings of $5 million while reducing E2E processing latencies by 20% and ML model onboarding times from months to weeks.
		    </li>
          <li>
            Rearchitected and rebuilt ADP’s nextgen HR platform’s workflows and microservice orchestration to a horizontally scalable cloud-native platform on AWS with inbuilt traffic shaping and data throttling, enabling onboarding of small and medium clients unlocking millions in revenue and establishing it as a strong Industry product
          </li>
          <li>
            Drove the transformation of Tremor Video’s Ads/Bidding platforms from a legacy monolithic architecture and daily batch data processing system running on data centers to low latency microservices, streaming data architecture, and faster ML pipelines running across distributed data centers and AWS aiding the growth of 40% YOY in gross revenue and profit
          </li>
    			<li>
            Currently Principal Engineer, AI Platform at Dataminr.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
