<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          A Hands-on AI & Data & Distributed Systems Lead and Architect with over 15 years of experience crafting large-scale, low-latency, AI, Data, & Distributed systems capable of processing over a million events per second, moving terabytes per hour with seamless petabyte-level persistence and operational excellence of 99.95% reliability</p>
        <p>
          I have over 20 years of industry experience as a software engineer, architect including 10 years of technical and engineering leadership with scope spanning multiple teams and groups.
          Additionally, I have a proven track record of driving change and tech strategy at Series C/D Startups to Fortune 500 companies while collaborating with folks from engineering to product, marketing, support, and C/Executive folks.
        </p>
        <p>
          I have built software products from the ground up taking them from 0->1, like I have done at Hubspot, Dataminr and Axon as well as taken existing product and platforms from 1->n at both ADP, Tremor Video as well as MLB.
          More recently I built Hubspot's central multi-tenant Generative AI RAG platform and algorithms for rapid deployment of RAG solutions at scale powering Hubspot’s Breeze AI offering and enabling the next growth phase for Hubspot.
          Prior to that at Dataminr, I drove the development architecture of our real-time enrichment and AI/ML pipelines processing over a million TPS, to be more efficient, accurate and siginificantly impacting federal, state and private entities with real time event detection both nationally and internationally.
        </p>
        <p>
          I love building things. While hard engineering problems are often intrinsically fun to tackle,
          I'm most attracted to solving real problems with a strong business impact.
        </p>
        <p>
          See <a href=https://www.linkedin.com/in/diptamay>my LinkedIn profile</a> for more career details.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Rearchitected and built Dataminr’s Core AI Platforms on AWS, enabling high-speed ingestion of real-time data at sub-second latencies and leverages machine learning and foundational large language models like Meta's Llama.
            This significantly reduced the onboarding time for new data sources from months to days, enhancing the effectiveness of Dataminr’s First Alert product. It supports federal, state, and local governments in detecting and responding to critical events,
            provides real-time alerts essential for emergency response and public safety, and enhances IT infrastructure and cybersecurity measures. The AI platform is used by the United Nations in over 100 countries, as well as by more than 1,500 newsrooms,
            and over 30,000 journalists worldwide. Integrated generative AI and Retrieval-Augmented Generation (RAG), creating a significant impact on both national and global levels. This research and development efforts contributed to the launch of ReGenAI offerings, which provide real-time coverage of global events
		      </li>
          <li>
            At Axon, enabled a suite of AI-driven solutions that empower police departments and emergency services nationwide. My work on Axon’s DataStore and Search platforms allowed Axon to process mission-critical data in real time, which is indispensable for law enforcement agencies as it allows them to make life-saving decisions quickly. By supporting real-time data access and analytics, ensured that Axon’s products met the complex needs of public safety agencies and maintained Axon’s competitive edge.
          </li>
          <li>
            Rearchitected and rebuilt ADP’s nextgen HR platform’s workflows and microservice orchestration to a horizontally scalable cloud-native platform on AWS with inbuilt traffic shaping and data throttling, enabling onboarding of small and medium clients unlocking millions in revenue and establishing it as a strong Industry product
          </li>
          <li>
            Drove the transformation of Tremor Video’s Ads/Bidding platforms from a legacy monolithic architecture and daily batch data processing system running on data centers to low latency microservices, streaming data architecture, and faster ML pipelines running across distributed data centers and AWS aiding the growth of 40% YOY in gross revenue and profit
          </li>
    			<li>
            Currently Staff Engineer, AI Foundations at Hubspot.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
