<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>AI</b>. It's an exciting time for AI/ML. I'm working through several online
						classes and am also hacking on LLM driven AI applications powered by LlamaIndex and VectorStores like ChromaDB
					</li>
					<li>
						<b>House work</b>. Love fixing my backyard - transformed it from barren land with weeds and construction
						material to a vegetable garden and a WIP little lawn
					</li>
					<li>
						<b>Dogs</b>. I have rescued and raised stray dogs multiple times in my life and here in US I have rescued
						and raised a pitbull and have donated money to various dog rescue groups over the years.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h4>Recent Work (Dataminr)</h4>
				<ul>
					<li>
						Championing Golang and Kubernetes to cut costs and better resource utilization
					</li>
				</ul>
				<h4 style="margin-top:0">Older work</h4>
				<ul>
					<li>
						Championed Golang at ADP making it an official language for the org
					</li>
					<li>
						Revised career ladder at Tremor Video
					</li>
					<li>
						Pitched in as a recruiter multiple times during hiring
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>