<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Beyond Work</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>
          When I'm not building data platforms, I volunteer as a coach with <a href="https://www.nfte.com/" target="_blank">NFTE</a> (Network for Teaching Entrepreneurship), helping high school students develop business and technology skills.
        </p>
        <p>
          I have rescued and raised dogs throughout my life &mdash; most recently a pitbull here in the U.S. I donate to dog rescue organizations regularly.
        </p>
        <p>
          I also spend time tending a vegetable garden I built from scratch in my backyard.
        </p>
      </div>
    </div>
  </div>
</section>
